<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/CSS/listOfCoaches.css">
</head>

<body>

<div class="navbar">
    <div class="logo">Yalla Padel</div>

    <div class="nav-links">
        <a href="/home">HOME</a>
        <a href="/academy/admin/manage-coaches">MANAGE COACHES</a>
    </div>
</div>

<div class="hero">
    <a href="/adminMenu" class="back">← BACK TO LIST</a>
    <h1>LIST OF COACHES</h1>
    <p>All coaches will appear here</p>
</div>

<div id="dashboardContainer">
    <% if (coaches && coaches.length > 0) { %>
        <% coaches.forEach(coach => { %>
            <div class="coach-card">
                <div class="Name">Coach Name: <span class="name"><%= coach.name %></span></div>
                <div class="Phone">Phone: <span class="phone"><%= coach.phone %></span></div>
                <div class="Experience">Experience: <span class="experience"><%= coach.experience %></span></div>
                <div class="Location">Location: <span class="location"><%= coach.location %></span></div>
                <div class="Days">Days: <span class="days"><%= coach.days %></span></div>
                <div class="Time">Time: <span class="time"><%= coach.time %></span></div>
                <div class="Salary">Salary: <span class="salary"><%= coach.salary %></span></div>
            </div>
        <% }) %>
    <% } else { %>
        <p>No coaches found.</p>
    <% } %>
</div>


</body>
</html>

