<!DOCTYPE html>
<html>
<head>
    <title>Users Management</title>
<link rel="stylesheet" href="/CSS/users.css">
   
</head>

<body>

<h1>Users Management</h1>

<table>

    <tr>
        <th>Profile</th>
        <th>Username</th>
        <th>Phone</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>

    <% users.forEach(user => { %>

        <tr>

            <td>
                <img src="<%= user.profilePicture %>">
            </td>

            <td>
                <%= user.username %>
            </td>

            <td>
                <%= user.phone %>
            </td>

            <td>
                <%= user.role %>
            </td>
     <td>
    <div class="actions">

        <form action="/admin/users/delete/<%= user._id %>" method="POST">
            <button class="btn btn-delete" type="submit">
                Delete
            </button>
        </form>

        <% if(user.role === "user") { %>
            <form action="/admin/users/make-admin/<%= user._id %>" method="POST">
                <button class="btn btn-admin" type="submit">
                    Make Admin
                </button>
            </form>
        <% } %>

        <% if(user.role === "admin") { %>
            <form action="/admin/users/remove-admin/<%= user._id %>" method="POST">
                <button class="btn btn-remove" type="submit">
                    Remove Admin
                </button>
            </form>
        <% } %>

    </div>
</td>

        </tr>

    <% }) %>

</table>

<a href="/admin/dashboard" class="back-btn">
    Back to Dashboard
</a>

</body>
</html>